proposal-data-service-client/src/main/resources/Schemas/State.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:state="State-V1.0" 
	targetNamespace="State-V1.0" 
	elementFormDefault="qualified" 
	attributeFormDefault="qualified" version="1.0">
	
	
		<xs:complexType name="State">
		<xs:sequence>
			<xs:element name="StateCode" type="xs:string" />
			<xs:element name="StateName" type="xs:string" />
			<xs:element name="StateGrantAccountantId" type="xs:string" />
			
		</xs:sequence>
	</xs:complexType>
	
		
	</xs:schema>